<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--Agregue esta configuracion en app.config/web.config para configurar la conectividad al SIR Efile en caso de utilizar esta librería-->
  <appSettings>
    <add key="LFUsuario" value="ADMIN" />
    <add key="LFPassword" value="A12345678" />
    <add key="LFServidor" value="ServerWA" />
    <add key="LFRepositorio" value="DA-HINOJOSA" />
    <add key="ConectarLFConAutenticacionWindows" value="true" />
    <add key="LlaveWebServiceSIREFile" value="WSDDAH" />
    <add key="UsuarioConsultaSIREFile" value="ALORENZANA" />
    <add key="ContraseñaConsultaSIREFile" value="89561" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--Agregue esta configuracion en app.config/web.config para configurar la conectividad al SIR Efile en caso de utilizar esta librería-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsDocumentosSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://175.50.5.4/wsDocumentos/wsDocumentos.asmx" binding="basicHttpBinding" bindingConfiguration="wsDocumentosSoap" contract="WsDocumentosSirEfile.wsDocumentosSoap" name="wsDocumentosSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>