<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="ARCHIVOS_ALT" providerName="System.Data.SqlClient" connectionString="Data Source=ARCHIVOS_ALT;Initial Catalog=1G_DAH_AA;Persist Security Info=True;User ID=sa;Password=sa"></add>
    <add name="DBFS_FOXPRO_DATASOURCE" providerName="System.Data.SqlClient" connectionString="Data Source=Z:\reco\saai\dbfs;Mode=3;Provider=vfpoledb.1"></add>
  </connectionStrings>
</configuration>