@{
    ViewBag.Title = "Bienvenido";
}

<div>
    <h1>Grupo D.A. Hinojosa</h1>
    <p class="lead">Bienvenido al portal de clientes de Grupo D.A. Hinojosa.
    
    </p>
    <p>
        En este portal nuestros clientes encontrar&Aacute;n información relevante de los servicios contratados con 
        las diferentes unidades de negocio de Grupo D.A. Hinojosa.
    </p>
</div>
