<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <dataConfiguration defaultDatabase="ARCHIVOS_ALT" />
  <connectionStrings>
    <clear />
    
    <add name="EF_IDENTITY" providerName="System.Data.SqlClient" connectionString="Data Source=175.50.5.9;Initial Catalog=Accounts;Persist Security Info=True;User ID=sa;Password=sa"></add>
    <add name="ReportesDB" providerName="System.Data.SqlClient" connectionString="Data Source=175.50.5.9;Initial Catalog=Accounts;Persist Security Info=True;User ID=sa;Password=sa"></add>
    <add name="ARCHIVOS_ALT" providerName="System.Data.SqlClient" connectionString="Data Source=175.50.5.118;Initial Catalog=1G_DAH_AA;Persist Security Info=True;User ID=sa;Password=sa"></add>
    <add name="DBFS_FOXPRO_DATASOURCE" providerName="System.Data.OleDB" connectionString="Provider=vfpoledb.1;Data Source=\\175.50.5.118\dah3\sistemas\reco\trafico\data;Mode=3;"></add>
    <add name="DBFS_SAAI_DATASOURCE" providerName="System.Data.OleDB" connectionString="Provider=vfpoledb.1;Data Source=\\175.50.5.118\dah3\sistemas\reco\saai\dbfs;Mode=3;"></add>
    <add name="DBFS_SORF_DATASOURCE" providerName="System.Data.OleDB" connectionString="Provider=vfpoledb.1;Data Source=\\175.50.5.118\dah3\sistemas\reco\SORF\emp003\data;Mode=3;"></add>
    
    <!--<add name="EF_IDENTITY" providerName="System.Data.SqlClient" connectionString="Data Source=dah-301\SQLEXPRESS;Initial Catalog=Accounts;Persist Security Info=True;Integrated Security=SSPI"></add>
    <add name="ReportesDB" providerName="System.Data.SqlClient" connectionString="Data Source=dah-301\SQLEXPRESS;Initial Catalog=Accounts;Persist Security Info=True;Integrated Security=SSPI"></add>
    <add name="ARCHIVOS_ALT" providerName="System.Data.SqlClient" connectionString="Data Source=ARCHIVOS_ALT;Initial Catalog=1G_DAH_AA;Persist Security Info=True;User ID=sa;Password=sa"></add>
    <add name="DBFS_FOXPRO_DATASOURCE" providerName="System.Data.OleDB" connectionString="Provider=vfpoledb.1;Data Source=\\archivos_alt\dah3\sistemas\reco\trafico\data;Mode=3;"></add>
    <add name="DBFS_SORF_DATASOURCE" providerName="System.Data.OleDB" connectionString="Provider=vfpoledb.1;Data Source=\\archivos_alt\dah3\sistemas\reco\SORF\emp003\data;Mode=3;"></add>-->

    
    <!--<add name="DBFS_FOXPRO_DATASOURCE" providerName="System.Data.OleDB" connectionString="Provider=vfpoledb.1;Data Source=C:\Users\Analista.Programador\Desktop\Nueva carpeta (3);Mode=3;"></add>-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AppStartup" value="InternetReports.App_Start.IdentityConfig" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="RutaTemporalDescargas" value="\DescargasTemporales\" />
    <add key="RutaTrafico" value="\\175.50.5.118\dah3\sistemas\reco\trafico\data\" />
    <add key="RutaSORF" value="\\175.50.5.118\dah3\sistemas\reco\sorf\emp003\data\" />
  </appSettings>
  <location path="Account/Registrar">
    <system.webServer>
      <security>
      <ipSecurity allowUnlisted="false">
        <clear />
        
        <add ipAddress="127.0.0.1" allowed="true" />
      </ipSecurity>
      
    </security>
    </system.webServer>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <authentication mode="None" />
    <sessionState mode="InProc" timeout="1"></sessionState>
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <!--Hack: In order to use in IIS 7 and 8+ the mime type has to be removed first. See: https://stackoverflow.com/questions/24725232/visual-studio-2013-gives-cannot-add-duplicate-collection-entry-of-type-mimemap-->
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
  <defaultDocument>
    <files>
      <add value="Account/Login" />
    </files>
  </defaultDocument> 
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>