<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SitioClientes" providerName="System.Data.SqlClient" connectionString="Data Source=dah-291;Initial Catalog=Accounts;Persist Security Info=True;User ID=sa;Password=sa"></add>
    <add name="ARCHIVOS_ALT" providerName="System.Data.SqlClient" connectionString="Data Source=ARCHIVOS_ALT;Initial Catalog=1G_DAH_AA;Persist Security Info=True;User ID=sa;Password=sa"></add>
  </connectionStrings>
  <!--Agregue esta configuracion en app.config/web.config para configurar la conectividad al SIR Efile en caso de utilizar esta librería--><appSettings>
    <add key="LFUsuario" value="ADMIN" />
    <add key="LFPassword" value="A12345678" />
    <add key="LFServidor" value="ServerWA" />
    <add key="LFRepositorio" value="DA-HINOJOSA" />
    <add key="SMTPRemitente" value="Dahinojosa.alertas@gmail.com" />
    <add key="AutenticarLFConWindows" value="true" />
    
    <add key="DirectorioDescargas" value="\\dah-291\DAH3\TemporalesSitioClientesHinojosa\" />
  <add key="ConectarLFConAutenticacionWindows" value="true" /><add key="LlaveWebServiceSIREFile" value="WSDDAH" /><add key="UsuarioConsultaSIREFile" value="ALORENZANA" /><add key="ContraseñaConsultaSIREFile" value="89561" /></appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" port="587" userName="Dahinojosa.alertas@gmail.com" password="da.hinojosa" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.diagnostics>
    <sharedListeners>
      <add name="EventViewer" type="System.diagnostics.EventLogTraceListener">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<!--Agregue esta configuracion en app.config/web.config para configurar la conectividad al SIR Efile en caso de utilizar esta librería--><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsDocumentosSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://175.50.5.4/wsDocumentos/wsDocumentos.asmx" binding="basicHttpBinding" bindingConfiguration="wsDocumentosSoap" contract="WsDocumentosSirEfile.wsDocumentosSoap" name="wsDocumentosSoap" />
        </client>
    </system.serviceModel></configuration>